{% extends 'base.html.twig' %}

{% block title %}Cadastro de Evento{% endblock %}
{% block header_title %}Cadastro de Evento {% endblock %}
{% block body %}
    <h6 class="h6 mx-2">Dados do Evento</h6>
    <div class="card card-body my-2">
        {{ include('evento/_form.html.twig') }}
        <a class="btn btn-outline-primary w-100 my-2" href="{{ path('app_evento_index') }}">
            <i class="bi bi-arrow-left-circle mx-2"></i>
            Voltar
        </a>
    </div>
{% endblock %}

